/*a. Welcome */

.container{

	font-family: arial, times new roman;
	max-height: 100%;
	max-width: 100%;
}


#top{
		
	background-color: #4CAF50;
	color: white;
	text-align: left;
	padding: 10px 10px 10px 40px;
	margin-left: 10px;
	margin-top: 10px;
}

/*b. Sidebar and Menubar*/


#menubar{

	float: left;
	margin-left: -30px;

}

.menuitem.selected{

	background-color: #4CAF50;

}


.menuitem{

	text-decoration: none;
	background-clip: padding-box;
	padding: 4px 180px 4px 4px;
	margin-bottom: 1.5px;
	border: 0.5px solid #9a9a9a;
	list-style-type: none;
	background-color: #d3d3d3;

}

/*c. Main*/

#main{

	margin: 0px;
	padding-left: 275px;

}


#main.h1{
	font-size: 18px;

}

#main.p{
	text-align: justify;

}

/*d. buttons*/

#greenbutton{

	background-color: #008000;
}

#orangebutton{

	background-color: #ffa500;
}

#bluebutton{

	background-color: #0000ff;

}

#redbutton{

	background-color: #ff0000;
}

.colorbuttons{

	background-clip: padding-box;
	color: #ffffff;
	padding: 5px 5px 5px 5px;
	text-decoration: none;
}

/*e.footer*/

#bottom{

	text-align: center;
	color: #000000;
	background-color: #f1f1f1;
	padding: 20px 20px 20px 20px;
}


